.caption
  position absolute
  top 200px
  width 100%
  text-align center
.block
  background-color #111
  padding 18px
  display: inline-block;
  .header
    font-size 35px
    letter-spacing 10px
    color #f00
  .subheader
    font-size 15px
    letter-spacing 5px
    color white


@media (max-width: 768px)
  .block .header
    letter-spacing normal
