.image
  position relative
  opacity 0.65
  background-attachment fixed
  background-position center
  background-repeat no-repeat
  background-size: cover
  min-height: 400px

.height550
  height: 550px;

.much_code
  background-image url("./../assets/images/much_code.jpg")

.code_color
  background-image url("./../assets/images/code_color.jpg")

.server
  background-image url("./../assets/images/server.jpg")

.meeting
  background-image url("./../assets/images/meeting.jpg")

.black
  color #ddd
  background-image url("./../assets/images/backgrounds/paper.png")

.lines
  background-image url("./../assets/images/backgrounds/lines.png")

@media (max-width: 768px)
  .image
    background-attachment scroll

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .image {
    background-attachment: scroll;
  }
}
