img
  margin-top: 50px;
  margin-bottom: 50px;
  height: 200px;

.spacer
  height: 80px

.notfound
  text-align: center
  font-family: monospace;
  background-image url("./../assets/images/backgrounds/lines.png")
  height: 100%

a
  text-decoration: none;
  color: black;

a:hover
  color: #f00;
