.textAlignLeft {
  text-align: left;
  margin: auto;
}

.colorTransition {
  transition: color 2s linear 1s;
}

.fa
  color #f00
  text-decoration none

.colorWhite {
  color: white;
}

.verticalCenter
  display inline-flex
  align-items center

.title
  margin-left 10px
  font-size 20px

