body, html
  height: 100%
  margin: 0
  font: 400 15px/1.8 "Lato", sans-serif
  background-color #1f7e9a
  background-image url("./assets/images/backgrounds/lines.png")
#app
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  height 100%
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0.1
}
a:focus, a:hover {
  color: black
  text-decoration: none;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: red
}
